<div class="card carta-centro" style="max-width: 540px;">
  <div class="formulario-container">
    <h2>Agregar Nuevo Registro</h2>
    <form (ngSubmit)="agregarHeroe()">
      <div class="form-group texto-diseño">
        <label for="codigo" class="form-label">Código:</label>
        <hr>

      </div>
      <div class="form-group texto-diseño">
        <label for="fecha" class="form-label">Fecha:</label>
        <hr>
       
      </div>
      <div class="form-group texto-diseño">
        <label for="nombre" class="form-label">Nombre del Cliente:</label>
        <hr>

      </div>
      <div class="form-group texto-diseño">
        <label for="tipoInteraccion" class="form-label">Tipo de Interacción:</label>
        <hr>
      </div>
      <div class="form-group texto-diseño">
        <label for="descripcion" class="form-label">Descripción:</label>
        <hr>
      </div>
      <div class="form-group texto-diseño">
        <button type="submit">GUARDAR</button>
      </div>
    </form>
  </div>
</div>
