
<input type="text" [(ngModel)]="nombreClienteBusqueda" placeholder="Ingrese el nombre del cliente">
<button (click)="buscarRegistrosPorCliente()">Buscar</button>

<div class="col animated fadeIn fast" *ngFor="let registro of registros let i = index">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body"    >
            <h5 class="card-title">{{registro.cliente}}</h5> Codigo de llamada: {{registro.codigo}}
            <p class="card-text">Interaccion por: {{registro.tipoInteraccion}}</p>
            <p class="card-text">Descripcion del problema: {{registro.descripcion}}</p>
            <p class="card-text"><small class="text-body-secondary">{{registro.fecha}}</small></p>
           
          </div>
        </div>
      </div>
    </div>
  </div>